# --- Archivos Compilados (Java) ---
*.class
*.log
*.ctxt

# --- Carpetas de compilación ---
# Aquí es donde Eclipse e IntelliJ guardan lo que compilan
bin/
out/
build/
target/

# --- Archivos de Dependencias y Paquetes ---
# No queremos subir librerías pesadas ni zips
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Archivos de configuración de IDEs ---
# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# --- Archivos del Sistema Operativo ---
.DS_Store
Thumbs.db